@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1721187711321') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-shouji:before {
  content: "\3448";
}

.icon-F:before {
  content: "\f003d";
}

.icon-liwuhuodong:before {
  content: "\f01da";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-dingwei:before {
  content: "\e60e";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-right-1-copy:before {
  content: "\e61f";
}

.icon-15tianbaotui01:before {
  content: "\e688";
}

.icon-youjiantou1:before {
  content: "\e628";
}

.icon-bofang:before {
  content: "\e62d";
}

.icon-liwu:before {
  content: "\e601";
}

.icon-7tianbaotui:before {
  content: "\e6cc";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-fanhuidingbu:before {
  content: "\e623";
}

.icon-shoujiqia:before {
  content: "\e502";
}

.icon-shoujidaoshouji:before {
  content: "\e64a";
}

.icon-duihua:before {
  content: "\e710";
}

.icon-chongzhi:before {
  content: "\e65c";
}

.icon-zuojiantou:before {
  content: "\e60f";
}

.icon-shouji1:before {
  content: "\eac3";
}

.icon-right-s:before {
  content: "\e627";
}

.icon-youjiantou:before {
  content: "\e61a";
}

.icon-youjiantou2:before {
  content: "\e629";
}

.icon-weixiu:before {
  content: "\e7d6";
}

.icon-erji:before {
  content: "\100d9";
}

